.main {
  height: auto;
  width: 100%;
  // border: 2px solid red;
  justify-content: center;
  display: flex;
  align-items: center;
}

/* Mobile Portrait */
@media (min-width: 300px) and (max-width: 480px) {
  .main {
    height: auto;
    width: 100%;
    padding: 0 20px;
    // border: 2px solid red;
    justify-content: center;
    display: flex;
    align-items: center;
  }
}

/* Mobile Landscape */
@media (min-width: 481px) and (max-width: 767px) {
}

/* Tablets Portrait */
@media (min-width: 768px) and (max-width: 1023px) {
}

/* Tablets Landscape */
@media (min-width: 1024px) and (max-width: 1279px) {
}
