.main {
  padding: 70px;
  //   border: 2px solid red;
  height: auto;
  width: 100%;
}

/* Mobile Portrait */
@media (min-width: 300px) and (max-width: 480px) {
  .main {
    padding: 10px;
    // border: 2px solid red;
  }
}

/* Mobile Landscape */
@media (min-width: 481px) and (max-width: 767px) {
  .main {
    padding: 10px;
    // border: 2px solid red;
  }
}

/* Tablets Portrait */
@media (min-width: 768px) and (max-width: 1023px) {
  .main {
    padding: 0px;
    // border: 2px solid red;
  }
}

/* Tablets Landscape */
@media (min-width: 1024px) and (max-width: 1279px) {
}
